
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #4738BF;
  --secondary-color: #FB9F18;
  --thirdary-color: #FECD1B;
  --n-white: #F0F0F0;
  --n-black: #141414;
}

@font-face {
  font-family: 'Source-Sans-Pro';
  src: url('./assets/fonts/SourceSansPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Source-Sans-Pro';
  src: url('./assets/fonts/SourceSansPro-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Source-Sans-Pro';
  src: url('./assets/fonts/SourceSansPro-Light.otf') format('opentype');
  font-weight: 200;
}



* {
  margin: 0;
  padding: 0;
}


body {
  font-family: Source-Sans-Pro, sans-serif;
  background-color: var(--n-white);
  color: var(--n-white);

  line-height: 1.4;
  font-size: 16px;
  width: 100%;
  height: 100vh;


}

header {
  box-shadow: 0 20px 40px rgba(32, 14, 134, 0.29), 0 5px 10px rgba(124, 124, 124, 0.26);
}

.login-button {
  box-shadow: 0 20px 40px rgba(255, 174, 0, 0.29), 0 5px 10px rgba(255, 174, 0, 0.26);
}

.main-image {
  width: 45%;
  transform: translate(-10px, 40px);
}

.intro-section {
  background-image: url('/path/to/kirby.png');
  background-repeat: no-repeat;
  background-size: contain; /* o cover */
  background-position: right bottom;

  z-index: 1;
  overflow: hidden;
}